/*HANUMAM*/        @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
/*POPPINS*/        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*ARVO*/        @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /*SANCHEZ*/       @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sanchez:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
   background-image: url(imagens/backgroudLogin1.png);
   background-repeat: no-repeat;
   background-size: cover;

}
/* -----------------------------------------------------------------navBar */


.navBar{
    margin-top: 0px;
    height: 65px;
    width: 100%;
    top: 0;
    background-color: rgba(20, 48, 81);
    

}
#imgNav{
    width: 170px;
    height: 170px;
    top: 4px;
    position: relative;
}
#hrNav{
    position: relative;
    top: -10px;
    width: 40px;
    transform: rotate(90deg);
    border-color: white;
}
.navEsquerda{
    position: absolute;
    display: flex;
    align-items:center;
    width: 20%;
    top: -45px;
    margin-left: 3%;
}
#iconLogout{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 30px;
}
#navBem{
    font-family: 'hanuman';
    color: white;
    position: absolute;
    left: 48%;
    top: 10px;

}
/* ---------------------------------------------------container */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundo{
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    background-color: #143051;
   position: relative;
   border-radius: 20px 0 0 20px;

}
/* ----------------------------------------------------ladoEsq */
    .direita{
        position: absolute;
        background-image: url(imagens/decoracao_login2.png);    
        width: 500px;
        height: 500px;  
        background-repeat: no-repeat;
        background-size: cover;
        left: 50%;
    
    }
/* ---------------------------------------------------------------LadoDir */

    .esquerda{
        position: absolute;
    }
    #email,#senha,#nome,#confSenha{
        width: 350px;
        height: 80px;
        border: none;
        background-color: #E3EEF6;
        font-size: 30px;
        padding-left: 50px;
        border-radius: 15px;
        color: #143051;
        margin-left: 10%;
    }
    #senha,#confSenha,#email{
        margin-top: 10px;
    }
    #nome{
        margin-top: 30px;
    }

   input::placeholder{
    color: #143151b7;
   }
    .btns{
        position: absolute;
        width: 500px;
        height: 50px;
        margin-top: 30px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    button {
        border: none;
        padding: 0;
        background-color: transparent;
      }
      #voltar, #entrar{
        border-radius: 20px;
        width: 180px;
        height: 65px;
        font-size: 20px;
      }
#voltar{
        border-style: solid;
        background-color: #143051;
        border-color: #E3EEF6;
        color: #E3EEF6;
        border-width:2px;
    }
    #entrar{
        border-style: solid;
        background-color: #E3EEF6;
        color:  #143051;
        border-color: #143051;
        border-width:2px;

    }
        #iconEmail{
            position: absolute;
            left: 50px;
            top: 143px;
            width: 35px;
            height: 35px;
        }
        #iconConfSenha{
            position: absolute;
            left: 50px;
            top: 320px;
            width: 35px;
            height: 35px;
        }
        #iconSenha{
            position: absolute;
            left: 50px;
            top: 230px;
            width: 35px;
            height: 35px;
        }
        #iconPessoa{
            position: absolute;
            left: 50px;
            top: 49px;
            width: 35px;
            height: 35px;
        }