*{
    margin: 0;
    padding: 0;
}
body{
   background-image: url(imagens/backgroudLogin1.png);
   background-repeat: no-repeat;
   background-size: cover;

}
/* -----------------------------------------------------------------navBar */


.navBar{
    margin-top: 0px;
    height: 65px;
    width: 100%;
    top: 0;
    background-color: rgba(20, 48, 81);
    

}
#imgNav{
    width: 170px;
    height: 170px;
    top: 4px;
    position: relative;
}
#hrNav{
    position: relative;
    top: -10px;
    width: 40px;
    transform: rotate(90deg);
    border-color: white;
}
.navEsquerda{
    position: absolute;
    display: flex;
    align-items:center;
    width: 20%;
    top: -45px;
    margin-left: 3%;
}
#iconLogout{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 30px;
}
#navBem{
    color: white;
    position: absolute;
    left: 48%;
    top: 10px;

}
/* ---------------------------------------------------container */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundo{
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    background-color: #143051;
   position: relative;
   border-radius: 0 20px 20px 0;

}
/* ----------------------------------------------------ladoEsq */
    .direita{
        position: absolute;
        background-image: url(imagens/decoracao_login2.png);    
        width: 500px;
        height: 500px;  
        background-repeat: no-repeat;
        background-size: cover;
        left: 50%;
    
    }
/* ---------------------------------------------------------------LadoDir */

    .esquerda{
        position: absolute;
    }
    #email,#senha,#nome,#confSenha{
        width: 350px;
        height: 80px;
        border: none;
        background-color: #E3EEF6;
        font-size: 30px;
        padding-left: 50px;
        border-radius: 15px;
        color: #143051;
        margin-left: 10%;
    }
    #senha,#confSenha,#email{
        margin-top: 10px;
    }
    #nome{
        margin-top: -60px;
    }

   input::placeholder{
    color: #143151b7;
   }
    .btns{
        position: absolute;
        width: 500px;
        height: 50px;
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    button {
        border: none;
        padding: 0;
        background-color: transparent;
      }
#entrar{
        border-radius: 20px;
        width: 180px;
        height: 65px;
        font-size: 20px;
        border-style: solid;
        background-color: #143051;
        border-color: #E3EEF6;
        color: #E3EEF6;
        border-width:2px;
    }
        #iconEmail{
            position: absolute;
            left: 10px;
            top: 25px;
            width: 30px;
            height: 30px;
        }
        #iconConfSenha{
            position: absolute;
            left: 10px;
            top: 153px;
            width: 30px;
            height: 30px;
        }
        #iconSenha{
            position: absolute;
            left: 10px;
            top: 153px;
            width: 30px;
            height: 30px;
        }
        #iconNome{
            position: absolute;
            left: 10px;
            top: 153px;
            width: 30px;
            height: 30px;
        }