@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
/*HANUMAM*/        @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
/*POPPINS*/        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*ARVO*/        @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /*SANCHEZ*/       @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sanchez:ital@0;1&display=swap');



.a-link{

  color: rgb(255, 255, 255);
  text-decoration: none;
  
  }

  
.login-link{

  color: rgba( 20,48,81);
  text-decoration: none;
  
  }

 


  .login-link:hover{
      color: rgba(191, 143, 91, 1);
      text-decoration: none;
      
    }



body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350vh;
  overflow-x: hidden;
  overflow-y: auto;
  
}

div {
  position: relative;

}

/*-------NAV BAR-------------------------------------------------------------------------------------*/
.navBar {
  margin-top: 0px;
  height: 65px;
  width: 100%;
  top: 0;
  background-color: rgba(20, 48, 81);
}

.navEsquerda {
  position: absolute;
  display: flex;
  align-items: center;
  width: 20%;
  top: -45px;
  margin-left: 3%;
}

.navDireita {
  top: 15px;
  right: 18%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.textNav {
top: 5px;
font-size: 20px;
color: white;
position: relative;
font-family: 'arvo';
}


#imgNav {
  width: 170px;
  height: 170px;
  top: 4px;
  position: relative;
}

#hrNav {
  position: relative;
  top: -10px;
  width: 40px;
  transform: rotate(90deg);
  border-color: white;
}

/* ------------------------------------barra de rolagem */


body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(20, 48, 81);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3.5px solid rgba(20, 48, 81);
  /* creates padding around scroll thumb */
}


/* -------Fazendo o Botão de login------- */
#login{
  position: absolute;
  right: -240px;
  top: 0.1px;
  width: 14vh;
  height: 40px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color:rgba(191, 143, 91, 1) ;
  color: rgba( 20,48,81);
  font-size: 20px;
  border: 3px;
  border-color: transparent;
  border-radius:20px;
  border-style: solid;
  font-family: 'arvo';
  font-weight: bold; 
  text-decoration: none;
  }

#login:hover{
  transform: scale(1.1);
  background-color: transparent;
  color: rgba(191, 143, 91, 1);
  border-color:rgba(191, 143, 91, 1);
  cursor: pointer;
  transition: 0.5s;}

/*.rodape{
    height: 100px;
    width: 100%;
    background-color: rgba(20, 48, 81);
    display: flex;
    position: absolute;
    bottom: 0;
}*/

/*---------------------------------------------------------------------*/

.especialidades{
  width: 60%;
  height: 400px;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  -ms-wrap-margin: 30px;
 
}
/*-----------------BOTOES DAS ESPECIALIDADES-------------------*/
.a{
text-decoration: none;
}
#retina, #catarata,#glaucoma,#oftalmopediatria,#refrativa,#cornea,#miopia,#hipermetropia{
  position: relative;
  background-color: rgb(20, 48, 81);
  color: rgb(255, 255, 255);
  border: 3px;
  border-color: transparent;
  border-radius: 20px;
  font-size: 13px;
  font-family: 'arvo';
}

#retina:hover,#catarata:hover,#glaucoma:hover,#oftalmopediatria:hover,#refrativa:hover,#cornea:hover,#miopia:hover,#hipermetropia:hover{
  transform: scale(1.1);
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20, 48, 81);
  color: rgba(20, 48, 81);
  border-color: rgb(20, 48, 81);
  cursor: pointer;
  transition: 0.2s;
}
#retina{
  padding-block: 17px;
  padding-inline: 130px;
}
#catarata{
  padding-block: 17px;
  padding-inline: 124.24px;
}
#glaucoma{
  padding-block: 17px;
  padding-inline: 118.0159px;
}

#oftalmopediatria{

  padding-block: 17px;
  padding-inline: 96.24px;

}

#refrativa{

  padding-block: 17px;
  padding-inline: 121.13px;

}

#cornea{

  padding-block: 17px;
  padding-inline: 127.79px;

}

#miopia{
  padding-block: 17px;
  padding-inline: 127.79px;

}

#hipermetropia{
  padding-block: 17px;
  padding-inline: 104.24px;

}


/*-----------------FIM ----------------------------------------------------BOTOES DAS ESPECIALIDADES-------------------*/
/* --------Retina------ */
.Doenças{
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  color: black;
  background-color: #e6e6e8 ;
}
.Doenças h1{
  padding-top: 99px;
  padding-left: 25px;
  color: rgba( 20,48,81);
  font-size: 45px;
  font-family: 'arvo';
}
.Doenças p{
  width: 90%;
  text-indent: 30px;
  text-align: justify;
  padding-left: 25px;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-family: 'arvo';}

.Retina{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}

.conteudo1{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}


.Catarata{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo2{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}

.Glaucoma{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo3{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}


.Oftalmopediatria{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo4{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}

.Refrativa{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo5{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}

.Cornea{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo6{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}



.miopia{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo7{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}



.Hipermetropia{
  width: 80%;
  height: 45vh;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.conteudo8{
  height: 65vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.043) ;
  border-radius: 20px;
  color: white;
}

.Doenças svg{
  float: right;
  }

/* --------------------------RODAPE------------------- */

footer{
  background: url(imagens/fundo-rodape.png);
  color: #ffffff;
  font-family: 'arvo';
  font-size: 18px;
}



.rodape1{
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  top: 10px;
}
.infos{
  margin-top: 25px;
}
.contato{
  margin-top: 25px;
}
.redes-sociais{
  margin-top: 25px;
}

.infos a{
  color: white;
  text-decoration: none;
}

.hr-space{
  height: 0.01vh;
  width: 78%;
  background-color: rgb(255, 255, 255);
  border: none;
  top: 20px;
  bottom: 20px;
}

.rodape2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}
.conv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 20px;
}
.convenios{
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* RODAPE REDES SOCIAIS */

.icones img{
  height: 6vh;
  width: 3vw;
}

/* ICONES CONVENIOS */
.convenios img{
  height: 8vh;
  width: 8vw;
}
