/*HANUMAM*/        @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
/*POPPINS*/        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*ARVO*/        @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /*SANCHEZ*/       @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sanchez:ital@0;1&display=swap');

.hanuman-thin {
    font-family: "Hanuman", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .hanuman-light {
    font-family: "Hanuman", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hanuman-regular {
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hanuman-bold {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .hanuman-black {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-style: normal;
  }
  



head{
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 350vh;
    overflow-x: hidden;
    overflow-y: auto;
}
div{
    position: relative;

}
/* ---------------------------------------navBar */
.navBar{
    margin-top: 0px;
    height: 65px;
    width: 100%;
    top: 0;
    background-color: rgba(20, 48, 81);
}
.navEsquerda{
    position: absolute;
    display: flex;
    align-items:center;
    width: 20%;
    top: -45px;
    margin-left: 3%;
}
.navDireita{
    top: 15px;
    right: 18%;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    width: 60%;
}
.textNav{
    top: 5px;
font-size: 20px;
color: white;
position: relative;
font-family: 'arvo';
}

#imgNav{
    width: 170px;
    height: 170px;
    top: 4px;
    position: relative;
}
#hrNav{
    position: relative;
   top: -10px;
    width: 40px;
    transform: rotate(90deg);
    border-color: white;
}
/* ------------------------------------barra de rolagem */


body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgba( 20,48,81);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);   
    border-radius: 20px;       
    border: 3px solid rgba( 20,48,81);  
  }

/* -------Fazendo o Botão de login------- */
#login{
    position: absolute;
    right: -240px;
    top: 0.1px;
    width: 14vh;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(191, 143, 91, 1) ;
    color: rgba( 20,48,81);
    font-size: 20px;
    border: 3px;
    border-color: transparent;
    border-radius:20px;
    border-style: solid;
    font-family: 'arvo';
    font-weight: bold; 
    }

#login:hover{
    transform: scale(1.1);
    background-color: transparent;
    color: rgba(191, 143, 91, 1);
    border-color:rgba(191, 143, 91, 1);
    cursor: pointer;
    transition: 0.5s;}
    
/*.rodape{
    height: 100px;
    width: 100%;
    background-color: rgba(20, 48, 81);
    display: flex;
    position: absolute;
    bottom: 0;
}*/


/*----------------------CARROSSEL------------------------------*/



*{

    margin: 0;
    padding: 0;
    
    }
    
    .carrossel{
    display: flex;
    width: 100%;
    height: 700px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    top: -60px;
    background-color: transparent;
    
    }
    
    .carrossel ul{
    
        display: flex;
        list-style: none;
        width: 800px;
        height: 700px;
        
    
    
    }
    
    .carrossel li{
    position:relative;
    animation: slide 15s infinite normal ease;
    
    }

    .carrossel img{


        height: 700px;
    }
    
    @keyframes slide{
    
    
    0%{left: 0px}
    10%{left: -2170px;}
    20%{left: -4340px;}
    30%{left: -6510px}

    50%{left: -4340px}
    
    80%{left: -2170px;}

    100%{left: 0px;}
    }

    .blur{
        position: absolute;
        width: 100%;
        height: 550px;
        background-color:rgba(0, 0, 0, 0.363);
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blur #h1{
        position: absolute;
        z-index: 7;
        text-align: center;
        padding-top: 25px;
        padding-left: 25px;
        color: #E3EEF6;
        font-size: 45px;
        font-family: 'Poppins';
        top: 330px;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.603);
    }
    .carrossel p{
        position: absolute;
        z-index: 7;
        text-align: center;
        padding-top: 25px;
        padding-left: 25px;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: 'arvo';
        top: 400px;
    }   

    
    
/*-------------------FIM DO CARROSSEL--------------------------*/

/*---------------CORES DO SITE--------------------------

CORES PRINCIAIS

        Azul Escuro: #143051
        Azul Claro: #84B6F4
        Azul Claro bem branco: #E3EEF6
        Botão Login: #BF8F5B
        Cards: #6A9EDA ( 5% de transparencia )

ESPECIALIDADES

        Azul das Especialidades: #84B6F4 ( 80% de transparencia )
        Cards: #6A9EDA ( 5% de transparencia )


*/
/*------------------------------CARD 1 O QUE SOMOS-----------------------*/
.card1{
    bottom: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: black;
    background-color: #e6e6e8 ;
}
.card1 h1{
    padding-top: 10px;
    padding-left: 25px;
    color: rgba( 20,48,81);
    font-size: 45px;
    font-family: 'sanchez';
}
.card1 p{
    width: 41ch;
    text-indent: 30px;
    text-align: justify;
    padding-top: 10px;
    padding-left: 25px;
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-family: 'arvo';
}

.somos{
    width: 90%;
    height: 70vh;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
}
.imagem1{
    height: 55vh;
    width: 85vh;
}

.titulo{
    color: black;
    font-size: 40px;
}
.conteudo1{
    height: 65vh;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.043) ;
    border-radius: 20px;
    color: white;
}

/*------------------------------CARD 2 VALORES-----------------------*/
.card2{bottom: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: black;
    background-color: rgba( 20,48,81) ;
}

.valores{ width: 90%;
    height: 70vh;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color:transparent;
    border-radius: 20px;
    display: flex;
}

.conteudos0 img{
    height: 55vh;
    width: 85vh;
    color: white;
    border-radius: 20px;
}

.conteudo2{
    height: 65vh;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.043) ;
    border-radius: 20px;
    color: white;
}

.card2 h1{
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'arvo';
}
.card2 p,ul{
    text-align: inherit;
    text-indent: 20px;
    padding-top: 10px;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: 'arvo';}

.card2 ul{padding-left: 50px;}





/* card3 */
.card3{
    bottom: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: black;
    background-color: #e6e6e8 ;
}
.card3 h1{
    padding-top: 10px;
    padding-left: 25px;
    color: rgba( 20,48,81);
    font-size: 45px;
    font-family: 'arvo';
}
.card3 p{
    width: 44.8ch;
    text-indent: 30px;
    text-align: justify;
    padding-top: 10px;
    padding-left: 25px;
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-family: 'arvo';}

.objetivo{
    width: 90%;
    height: 70vh;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
}
.imagem1{
    height: 55vh;
    width: 85vh;
}

.titulo{
    color: black;
    font-size: 40px;
}
.conteudo3{
    height: 65vh;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.043) ;
    border-radius: 20px;
    color: white;
}
    
/*------------------------------------MÉDICOS--------------------------------*/

.faixa-med{
    bottom: 30vh;
    width: 100%;
    height: 12vh;
    background-image:url(imagens/decoracao_login.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
}
.medicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medicos img{
    width: 43vh;
    height: 44vh;
}